if pageChildren && pageChildren.length > 0
  aside
    h1 Sub pages
    ul.nav.nav-stacked
      each pageChild in pageChildren
        if pageChild.isPublished && pageChild.title
          li
            a(href="#{encodeURI(pageChild.url)}")= pageChild.title
