if page.createdBy || page.updatedBy
  aside.col-xs-12.col-sm-3.pull-right
    h1 Author
    if page.createdBy
      div.col-xs-6.col-sm-12
        +user(page.createdBy)
    if page.updatedBy && (!page.createdBy || page.createdBy._id.toString() !== page.updatedBy._id.toString())
      div.col-xs-6.col-sm-12
        +user(page.updatedBy)

if req.isAuthenticated()
  div.col-xs-12.col-sm-9
    p
      a(href="#{ page.url + '?action=edit' }").btn.btn-primary Edit this page
