include ../mixins/user

if page && req.isAuthenticated() && req.query.action !== 'edit' && req.query.action !== 'new' && page.isWritableBy instanceof Function && page.isWritableBy(req.user)
  aside
    div.row
      div.col-xs-12
        p
          a(href="#{ page.url + '?action=edit' }").btn.btn-primary Edit this page
