if req.isAuthenticated()
  aside
    div(ng-controller="AlertBag")
      div(ng-repeat="alert in alerts", class="alert alert-{{ alert.type }}", style="animation-duration: {{ (alert.timeout || 0) / 1000 }}s;") {{ alert.message }}
        button(aria-hidden="true", ng-click="closeAlert($index)").close ×

if page && page.breadcrumbs && page.breadcrumbs.length > 1
  aside
    ol.breadcrumb
      li
        a(href="/") Hem
      each breadcrumbPage, index in page.breadcrumbs
        if breadcrumbPage.isPublished && breadcrumbPage.title
          if index === page.breadcrumbs.length - 1
            li.active= breadcrumbPage.title
          else
            li
              a(href="#{encodeURI(breadcrumbPage.url)}")= breadcrumbPage.title
