include ../mixins/user

if page && ( page.createdBy || page.updatedBy )
  aside
    div.row
      h1.col-xs-12 Author

    div.row
      if page.createdBy
        div.col-xs-12.col-sm-6.col-md-4
          div.thumbnail
            +user(page.createdBy)
      if page.updatedBy && (!page.createdBy || page.createdBy._id.toString() !== page.updatedBy._id.toString())
        div.col-xs-12.col-sm-6.col-md-4
          div.thumbnail
            +user(page.updatedBy)

if page && req.isAuthenticated() && req.query.action !== 'edit' && req.query.action !== 'new'
  aside
    div.row
      div.col-xs-12
        p
          a(href="#{ page.url + '?action=edit' }").btn.btn-primary Edit this page
