//- div.col-xs-12.col-sm-9.flash-bag
//-   if !page.isPublished
//-     p(data-dismiss="alert").alert.alert-warning This page is not published until #{ page.publishedAt.toLocaleString() }.
//-       button(class="close", aria-hidden="true", data-dismiss="alert", type="button") ×
