meta(charset="utf-8")
title= page && page.title ? page.title + ' - ' + siteSettings.siteName.value : siteSettings.siteName.value
link(rel="canonical", href="#{encodeURI(req.protocol + '://' + req.headers.host + '/' + page.url)}")
