doctype html
html
  head
    meta(charset="utf-8")
    title= page.title ? page.title + ' - ' + settings.name : settings.name
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    style
      | body { padding-top: 70px; }
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  body
    div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.container-fluid
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")= settings.name
        div.collapse.navbar-collapse
          ul.nav.navbar-nav
            each rootPage in rootPages
              if rootPage.title
                li
                  a(href="/#{rootPage.url}")= rootPage.title
    div.container-fluid
      div.row
        block aside
        block content
