extends layout

block aside
  if page.breadcrumbs && page.breadcrumbs.length > 1
    aside.col-xs-10
        ol.breadcrumb
          li
            a(href="/") Hem
          each breadcrumbPage, index in page.breadcrumbs
            if breadcrumbPage.title
              if index === page.breadcrumbs.length - 1
                li.active= breadcrumbPage.title
              else
                li
                  a(href="/#{breadcrumbPage.url}")= breadcrumbPage.title

  if pageChildren && pageChildren.length > 0
    aside.col-xs-2.pull-right
        ul.nav.nav-stacked
          each pageChild in pageChildren
            if pageChild.title
              li
                a(href="/#{pageChild.url}")= pageChild.title


block content
  main.col-xs-10(role="main")= page.content
