link(rel="canonical", href="#{encodeURI(req.protocol + '://' + req.headers.host + '/' + page.url})")
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
style
  | body { padding-top: 70px; }
script(src='//code.jquery.com/jquery-1.11.0.min.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
