@import "variables";

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.noShadow {
  box-shadow: none;
}

body {
  overflow-x: hidden;
}

main {
  margin-bottom: @padding-base-vertical;
}

#meta {
  .noShadow;
  transition: left 0.25s, box-shadow 0.5s, opacity 0.25s;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  top: 0;

  &:hover {
    .shadow;
    opacity: 1;
  }

  &.closed {
    left: 100% * (1 + 1/3);

    &:hover {
      left: 100% * (1 + 1/3) - 1;
    }
  }

  &.open {
    .shadow;
    left: 100%;
    opacity: 1;

    button.toggle {
      .shadow;
    }
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  button.toggle {
    .noShadow;
    transition: color 0.25s, box-shadow .5s, opacity 0.25s;
    position: absolute;
    z-index: 1;
    left: -73px;
    width: 75px;
    top: 10px;
    border-right: none;
    padding: 4px;

    &:hover {
      .shadow;
      color: @link-hover-color;
    }

    &:after {
      background: @well-bg;
      border-radius: 3px;
      content: ".";
      font-size: 0;
      color: transparent;
      height: 70px;
      position: absolute;
      right: -38px;
      top: -11px;
      width: 40px;
    }
  }
}

input, select, textarea, *[contenteditable] {
  &.ng-invalid {
    box-shadow: 0 0 2px @brand-danger;
  }

  &.ng-valid {
    box-shadow: 0 0 2px @brand-success;
  }
}

.alert {
  animation-duration: 0s;
  animation-name: alertCountdown;
  animation-timing-function: linear;
  background-repeat: no-repeat;
  padding: 5px;

  &.alert-success {
    background-image: linear-gradient(to right, lighten(@alert-success-bg, 5%) 100%, rgba(0, 0, 0, 0) 100%);
  }

  &.alert-warning {
    background-image: linear-gradient(to right, lighten(@alert-warning-bg, 5%) 100%, rgba(0, 0, 0, 0) 100%);
  }

  &.alert-danger {
    background-image: linear-gradient(to right, lighten(@alert-danger-bg, 5%) 100%, rgba(0, 0, 0, 0) 100%);
  }

  &.alert-info {
    background-image: linear-gradient(to right, lighten(@alert-info-bg, 5%) 100%, rgba(0, 0, 0, 0) 100%);
  }

  button.close {
    margin: -6px -5px 0 0;
    padding: 3px 10px 7px;
  }
}

@keyframes alertCountdown {
  from {
    background-size: 100% 100%;
  }

  to {
    background-size: 0% 100%;
  }
}
