extends layout

block content
  main.col-xs-9(role="main")
    if page
      | #{page.content}
    else
      div.alert.alert-danger
        p
          strong Unauthorized!
          | &nbsp;This page requires you to&nbsp;
          a(href="/login") login
          |.
