extends layout

block content
  main.col-xs-9(role="main")
    if page
      | #{page.content}
    else
      div.alert.alert-danger
        p
          strong Page not found!
          | &nbsp;The page you requested could not be found.&nbsp;
          if req.url !== '/'
            a(href="/") Return to start page

    if req.isAuthenticated()
      p
        a(href="#{ req.url + '?action=new' }").btn.btn-primary Create a new page here
