doctype html
html(data-ng-app=(req.isAuthenticated() ? 'app' : undefined))
  head
    block metaTags
      include partials/metaTags
    block resources
      include partials/resources
  body
    block mainMenu
      include partials/mainMenu
    div.container-fluid
      div.row
        div.col-xs-12.col-sm-9
          block contentHeader
            include partials/contentHeader
          block content
          block contentFooter
            include partials/contentFooter
        div.col-xs-12.col-sm-3.pull-right
          block aside
            include partials/aside
