doctype html
html(data-ng-app=(req.isAuthenticated() ? 'app' : undefined))
  head
    block metaTags
      include partials/metaTags
    block resources
      include partials/resources
  body
    block mainMenu
      include partials/mainMenu
    div.container-fluid
      div.row
        block aside
          include partials/aside
        block flashBag
          include partials/flashBag
        block content
