extends layout

block append resources
  script(src="#{req.assetFingerprint('/bower_components/angular/angular.min.js')}")
  script(src="#{req.assetFingerprint('/controllers/Page.js')}")

block content
  main.col-xs-10(role="main", data-ng-controller="Page")
    h1 Redigera dokument
    h2 Meta
    div.meta
      div.form-group
        label(for="") Title
        input(type="text").form-control
      div.form-group
        label(for="") Published date
        input(type="date").form-control
      div.form-group
        label(for="") Parent
        input(type="date").form-control
    h2 Innehåll
    div.content
      | #{page.content}
