extends layout

block content
  div(ng-controller="PageEditor", ng-cloak)
    form(novalidate, ng-submit="submit()", name="pageForm").css-form
      input(id="pageData_id", type="hidden", ng-model="data._id", value="#{ page._id || ''}")

      main(role="main", contenteditable, required, minlength="1", ng-model="data.content")
        h1 #{ page.title || 'Type your heading' }
        p Type your page content

      div
        p.text-info Select some text and click on toolbar icon to set style for that text

      div
        include partials/pageSettings
        | &nbsp;
        input(type="submit", value="Save", ng-disabled="pageForm.$invalid || submissionState === 'submitting' || pageForm.$pristine").btn.btn-primary
